<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start the gaem</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../sources/css/ingame.css">
    <script type="text/javascript" src="../sources/js/ingame.js"></script>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script>if (window.module) module = window.module;</script>
    <script src="../sources/js/VidyoConnectorCustomLayout.js"></script>
    <script type="text/javascript">
        function onVidyoClientLoaded(status) {
            console.log("Status: " + status.state + "Description: " + status.description);
            switch (status.state) {
                case "READY":    // The library is operating normally
                    $("#connectionStatus").html("Ready to Connect");
                    $("#helper").addClass("hidden");
                    // After the VidyoClient is successfully initialized a global VC object will become available
                    // All of the VidyoConnector gui and logic is implemented in VidyoConnectorCustomLayout.js
                    StartVidyoConnector(VC);
                    break;
                case "RETRYING": // The library operating is temporarily paused
                    $("#connectionStatus").html("Temporarily unavailable retrying in " + status.nextTimeout/1000 + " seconds");
                    break;
                case "FAILED":   // The library operating has stopped
                    ShowFailed(status);
                    $("#connectionStatus").html("Failed: " + status.description);
                    break;
                case "FAILEDVERSION":   // The library operating has stopped
                    UpdateHelperPaths(status);
                    ShowFailedVersion(status);
                    $("#connectionStatus").html("Failed: " + status.description);
                    break;
                case "NOTAVAILABLE": // The library is not available
                    UpdateHelperPaths(status);
                    $("#connectionStatus").html(status.description);
                    break;
            }
            return true; // Return true to reload the plugins if not available
        }
        function UpdateHelperPaths(status) {
            $("#helperPlugInDownload").attr("href", status.downloadPathPlugIn);
            $("#helperAppDownload").attr("href", status.downloadPathApp);
        }
        function ShowFailed(status) {
            var helperText = '';
            // Display the error
            helperText += '<h2>An error occurred, please reload</h2>';
            helperText += '<p>' + status.description + '</p>';

            $("#helperText").html(helperText);
            $("#failedText").html(helperText);
            $("#failed").removeClass("hidden");
        }
        function ShowFailedVersion(status) {
            var helperText = '';
            // Display the error
            helperText += '<h4>Please Download a new plugIn and restart the browser</h4>';
            helperText += '<p>' + status.description + '</p>';

            $("#helperText").html(helperText);
        }

        function loadVidyoClientLibrary(webrtc, plugin) {
            // If webrtc, then set webrtcLogLevel
            var webrtcLogLevel = "";
            if (webrtc) {
                // Set the WebRTC log level to either: 'info' (default), 'error', or 'none'
                webrtcLogLevel = '&webrtcLogLevel=info';
            }

            //We need to ensure we're loading the VidyoClient library and listening for the callback.
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://static.vidyo.io/4.1.16.8/javascript/VidyoClient/VidyoClient.js?onload=onVidyoClientLoaded&webrtc=' + webrtc + '&plugin=' + plugin + webrtcLogLevel;
            document.getElementsByTagName('head')[0].appendChild(script);
        }
        function joinViaBrowser() {
            $("#helperText").html("Loading...");
            $("#helperPicker").addClass("hidden");
            loadVidyoClientLibrary(true, false);
        }

        function joinViaPlugIn() {
            $("#helperText").html("Don't have the PlugIn?");
            $("#helperPicker").addClass("hidden");
            $("#helperPlugIn").removeClass("hidden");
            loadVidyoClientLibrary(false, true);
        }

        function joinViaElectron() {
            $("#helperText").html("Electron...");
            $("#helperPicker").addClass("hidden");
            loadVidyoClientLibrary(false, true);
        }

        function joinViaApp() {
            $("#helperText").html("Don't have the app?");
            $("#helperPicker").addClass("hidden");
            $("#helperApp").removeClass("hidden");
            var protocolHandlerLink = 'vidyoconnector://' + window.location.search;
            /* launch */
            $("#helperAppLoader").attr('src', protocolHandlerLink);
            loadVidyoClientLibrary(false, false);
        }

        function joinViaOtherApp() {
            $("#helperText").html("Don't have the app?");
            $("#helperPicker").addClass("hidden");
            $("#helperOtherApp").removeClass("hidden");
            var protocolHandlerLink = 'vidyoconnector://' + window.location.search;
            /* launch */
            $("#helperOtherAppLoader").attr('src', protocolHandlerLink);
            loadVidyoClientLibrary(false, false);
        }

        function loadHelperOptions() {
            var userAgent = navigator.userAgent || navigator.vendor || window.opera;

            // Opera 8.0+
            var isOpera = (userAgent.indexOf("Opera") || userAgent.indexOf('OPR')) != -1 ;
            // Firefox
            var isFirefox = userAgent.indexOf("Firefox") != -1;
            // Chrome 1+
            var isChrome = userAgent.indexOf("Chrome") != -1;
            // Safari
            var isSafari = !isChrome && userAgent.indexOf("Safari") != -1;
            // AppleWebKit
            var isAppleWebKit = !isSafari && !isChrome && userAgent.indexOf("AppleWebKit") != -1;
            // Internet Explorer 6-11
            var isIE = (userAgent.indexOf("MSIE") != -1 ) || (!!document.documentMode == true );
            // Edge 20+
            var isEdge = !isIE && !!window.StyleMedia;
            // Check if Mac
            var isMac = navigator.platform.indexOf('Mac') > -1;
            // Check if Windows
            var isWin = navigator.platform.indexOf('Win') > -1;
            // Check if Linux
            var isLinux = navigator.platform.indexOf('Linux') > -1;
            // Check if Android
            var isAndroid = userAgent.indexOf("android") > -1;

            if (!isMac && !isWin && !isLinux) {
                /* Mobile App*/
                if (isAndroid) {
                    $("#joinViaApp").removeClass("hidden");
                } else {
                    $("#joinViaOtherApp").removeClass("hidden");
                }
                if (isChrome) {
                    /* Supports WebRTC */
                    $("#joinViaBrowser").removeClass("hidden");
                }
            } else {
                /* Desktop App */
                $("#joinViaApp").removeClass("hidden");

                if (isChrome || isFirefox) {
                    /* Supports WebRTC */
                    $("#joinViaBrowser").removeClass("hidden");
                }
                if (isSafari || isFirefox || (isAppleWebKit && isMac) || (isIE && !isEdge)) {
                    /* Supports Plugins */
                    $("#joinViaPlugIn").removeClass("hidden");
                }
            }
        }
        // Runs when the page loads
        $(function() {
            var connectorType = getUrlParameterByName("connectorType");
            var isElectron = (typeof process === 'object') && process.versions && (process.versions.electron !== undefined);

            if (connectorType == "app") {
                joinViaApp();
            } else if (connectorType == "browser") {
                joinViaBrowser();
            } else if (connectorType == "plugin") {
                joinViaPlugIn();
            } else if (connectorType == "other") {
                joinViaOtherApp();
            } else {
                if (isElectron) {
                    joinViaElectron();
                } else {
                    loadHelperOptions();
                }
            }
        });
    </script>

    <script src="https://static.vidyo.io/latest/javascript/VidyoClient/VidyoClient.js?onload=onVidyoClientLoaded"></script>
</head>
<body style="background-color: #acffa5">
    <h1 class="text" style="text-align: center; color: white; font-family: 'Arial Black'; font-size: 50px"> Play </h1>
    <form class="host-form">
        <div id="optionsParameters">
            <p>
                <label>Host</label>
                <input type="text" id="host" value="prod.vidyo.io">
            </p>
            <p>
                <label>Token</label>
                <input type="text" id="token" class="form-control" placeholder="Host-Token" value="">
            </p>
            <p>
                <label for="displayName">Pickup Nickname</label>
                <input id="displayName" type="text" placeholder="Nickname" class="form-control" value="Guest">
            </p>
            <p>
                <label for="resourceId">Room name</label>
                <input id="resourceId" type="text" placeholder="Room name" class="form-control" value="demoRoom">
            </p>
            <input type="button" id="joinLeaveButton" title="Join Conference" class="toolbarButton callStart btn-info" value="Connect the server">
        </div>
        <!--<p>-->
            <!--<label for="cameras">Cameras</label>-->
            <!--<select id="cameras">-->
                <!--<option value='0'>None</option>-->
            <!--</select>-->
        <!--</p>-->
        <!--<p>-->
            <!--<label for="microphones">Microphones</label>-->
            <!--<select id="microphones">-->
                <!--<option value='0'>None</option>-->
            <!--</select>-->
        <!--</p>-->
        <!--<p>-->
            <!--<label for="speakers">Speakers</label>-->
            <!--<select id="speakers">-->
                <!--<option value='0'>None</option>-->
            <!--</select>-->
        <!--</p>-->
    </form>
    <!--<a href="javascript:joinViaBrowser()">CAMERA ON</a>-->
    <!--<input type="button" id="joinLeaveButton" title="Join Conference" class="toolbarButton callStart" value="Connect the server">-->

    <!--<div id="renderer0" style="height: 500px; width: 100%"> </div>-->
    <!--<div id="renderer1" style="height: 500px; width: 100%"> </div>-->
    <!--<div id="renderer2" style="height: 500px; width: 100%"> </div>-->
    <!--<div id="renderer3" style="height: 500px; width: 100%"> </div>-->
    <!--<div id="renderer4" style="height: 500px; width: 100%"> </div>-->
    <!--<div id="renderer5" style="height: 500px; width: 100%"> </div>-->

    <div id="boxbutton">
            <span class="link">
                <span id="count">0</span>
                Click
            </span>
        &nbsp;
    </div>
    <div id="boxcard">
        <div id="card1" class="face-cell"><div id="renderer0" class="face"></div></div>
        <div id="card2"><div id="renderer1" class="face"></div></div>
        <div id="card3"><div id="renderer2" class="face"></div></div>
        <div id="card4"><div id="renderer3" class="face"></div></div>
        <div id="card5"><div id="renderer4" class="face"></div></div>
        <div id="card11"></div>
        <div id="card12"></div>
        <div id="card13"></div>
        <div id="card14"></div>
        <div id="card15"></div>

    </div>

</body>
</html>