<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start the gaem</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        var vidyoConnector;
        function onVidyoClientLoaded(status) {
            console.log("Status - " + status.state);
            if(status.state == "READY"){
                VC.CreateVidyoConnector({
                    viewId: "renderer",
                    viewStyle: "VIDYO_CONNECTORVIEWSTYLE_Default",
                    remoteParticipants: 16,
                    logFileFilter:"error",
                    logFileName:"",
                    userData:""

                }).then(function (vc) {
                    console.log("Created success");
                    vidyoConnector = vc;
                }).catch(function (error) {
                    console.error("Create failed" + error);
                })
            }
        }

        function joinCall(){
            // To join a video conference call Connect method
            vidyoConnector.Connect({
                host:"prod.vidyo.io",  // Server name, for most production apps it will be prod.vidyo.io
                token:"cHJvdmlzaW9uAGNhdHVyQGE3NTk2Yy52aWR5by5pbwA2MzY3MzM5OTIyMAAAM2I0YjUwOWFiNDQ5Zjg3NjBmMDQwYjhmY2QxNjIwNmFjNWE5MmRlNTgzNDZmNzZiNDdkOGVmMDAyMTA0MzJiZGYwMDM3M2FjM2QxZjZiNmZiM2Q5MDUzMjM5MDBkMDky",          // Add generated token (https://developer.vidyo.io/documentation/4-1-16-8/getting-started#Tokens)
                displayName:"catur",  // Display name
                resourceId:"demoRoom", // Room name
                onSuccess: function(){
                    console.log("Connected!! YAY!");
                },
                onFailure: function(reason){
                    console.error("Connection failed");
                },
                onDisconnected: function(reason) {
                    console.log(" disconnected - " + reason);
                }
            })
        }
    </script>
    <script src="https://static.vidyo.io/latest/javascript/VidyoClient/VidyoClient.js?onload=onVidyoClientLoaded"></script>
</head>
<body style="background-color: #acffa5">
    <h1 class="text" style="text-align: center; color: white; font-family: 'Arial Black'; font-size: 50px"> Play </h1>
    <button onclick="joinCall()">Connect</button>
    <div id="renderer" style="width: 700px; height: 500px"> </div>
</body>
</html>